.highlight_5cimvxq {
		background-color: #FDFF47;
}

.grab_5cimvxq {
		cursor: grab;
}

#banner_5cimvxq {
		position: fixed;
		z-index: 2147483647;
		left: 0;
		right: 0;
		top: 0;
		color: black;
		font-size: x-small;
		font-family: sans-serif;
		display: grid;
		width: 25%;
		grid-template-columns: max-content max-content;
		background-color: lightblue;
}

.action_5cimvxq {
		font-weight: bold;
}

.desc_5cimvxq {
		margin-left: 1em;
}
