.narrow_5cimvxq {
		margin: 0 auto;
		max-width: 40em !important;
}

.highlight_5cimvxq {
		background-color: #FDFF47;
}

.grab_5cimvxq {
		cursor: grab;
}

#banner_5cimvxq {
		position: fixed;
		z-index: 100;
		left: 0;
		right: 0;
		top: 0;
		color: black;
		font-size: x-small;
		font-family: sans-serif;
}

#p_5cimvxq {
		text-align: center;
}

#span_5cimvxq {
		margin: 0px;
		padding: 0em 0.5em 0em 0.5em;
		background-color: silver;
}
